<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" th:href="@{/estilo.css}"
	href="${../static/estilo.css" />
</head>
<body>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
				</br>
				<h2 class="text-center">Previsão do tempo para UMA SEMANA</h2> </br>
				
					<th scope="col">DIA</th>
					<th scope="col">MINIMA</th>
					<th scope="col">MÁXIMA</th>
					<th scope="col">HUMIDADE (HR%)</th>
					<th scope="col">INFORMAÇÕES</th>
				</tr>
			</thead>
			<tbody>

			<tbody>
				<tr th:each="prev : ${previsao}">
				<td th:text="${prev.dia}"></td>
				<td th:text="${prev.minima}"></td>
				<td th:text="${prev.maxima}"></td>
				<td th:text="${prev.humidade}"></td>
				<td th:text="${prev.descricao}"></td>
			</tr>
		</tbody></tbody>
			
</table>
  
  
  </div>
</body>
</html>