<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" th:href="@{/estilo.css}"
	href="${../static/estilo.css" />
</head>
<body>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
				</br>
				<h2 class="text-center">Previsão do tempo para UMA SEMANA</h2> </br>
				
					<th scope="col">Cidade</th>
					<th scope="col">Temperatura mínima</th>
                	<th scope="col">Temperatura máxima</th>
                	<th scope="col">Humidade relativa do ar</th>      
                	<th scope="col">Latitude</th>
                	<th scope="col">Longitude</th>
                	<th scope="col">Descrição</th>
				</tr>
			</thead>
			<tbody>

			<tbody>
				<tr th:each="previsao : ${previsao}">
                <td th:text="${previsao.cidade.nome}"></td>
                <td th:text="${previsao.diaSemana.dia}"></td>
                <td th:text="${previsao.temperaturaMin}"></td>
                <td th:text="${previsao.temperaturaMax}"></td>
                <td th:text="${previsao.humidade}"></td>
                <td th:text="${previsao.cidade.latitude}"></td>
                <td th:text="${previsao.cidade.longitude}"></td>
                <td th:text="${previsao.descricao}"></td>
			</tr>
		</tbody></tbody>
			
</table>
  
  
  </div>
</body>
</html>