<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" th:href="@{/estilo.css}"
	href="${../static/estilo.css" />
</head>
<body>

	<div class="container">

		<table class="table">
			<thead>
				<tr>
				</br>
				<h2 class="text-center">Previsão do tempo para UMA SEMANA</h2> </br>
				
					<th scope="col">Cidade</th>
					<th scope="col">Dia da Semana</th>
					<th scope="col">Temperatura mínima</th>
                	<th scope="col">Temperatura máxima</th>
                	<th scope="col">Humidade relativa do ar</th>      
                	<th scope="col">Latitude</th>
                	<th scope="col">Longitude</th>
                	<th scope="col">Descrição</th>
				</tr>
			</thead>
			<tbody>

			<tbody>
				<tr th:each="previsao : ${previsao}">
                <td th:text="${previsao.cidade.nome}"></td>
                <td th:text="${previsao.diaSemana.dia}"></td>
                <td th:text="${previsao.temperaturaMin}"></td>
                <td th:text="${previsao.temperaturaMax}"></td>
                <td th:text="${previsao.humidade}"></td>
                <td th:text="${previsao.cidade.latitude}"></td>
                <td th:text="${previsao.cidade.longitude}"></td>
                <td th:text="${previsao.descricao}"></td>
			</tr>
			
		</tbody></tbody>
			
</table>
  <form class="form-inline" method="POST" th:object="${previsao}" th:action="@{/previsaos}" style="margin: 20px 0">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Cidade" th:field="*{cidade.nome}"/> 
				<input type="text" class="form-control" placeholder="Dia Da Semana" th:field="*{diaSemana.dia}"/> 
				<input type="text" class="form-control" placeholder="Temperatura Mínima" th:field="*{temperaturaMin}"/>
				<input type="text" class="form-control" placeholder="Temperatura Máxima" th:field="*{temperaturaMax}"/>
				<input type="text" class="form-control" placeholder="Humidade" th:field="*{humidade}"/>
				<input type="text" class="form-control" placeholder="Latitude" th:field="*{cidade.latitude}"/>
				<input type="text" class="form-control" placeholder="Longitude" th:field="*{cidade.longitude}"/>
				<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
				
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
  
  </div>
</body>
</html>