<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container mt-5 center-block" style="width: 400px;height: 300px;">
			<h1>PREVISÃO DO TEMPO</h1>
			<p>Para ter acesso a tabela de previsão do tempo, faça seu login!!</p>
		<div class="" >
			<form class="form" method="post" th:object="${usuario}"
				th:action="@{/fazerLogin}" style="margin: 20px 0">
				<div class="form-group">
					<input required type="text" class="form-control"
						placeholder="Usuário" th:field="*{login}" /> <br />						
						<input required
						type="password" class="form-control" placeholder="Senha"
						th:field="*{senha}"/>
					<button type="submit" class="btn btn-info mt-3 float-right">Login</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>